###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    RegExp = "RegExp::"
@
    
plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
    # include 'doc' plugin from plugins folder
    "doc" = "!plg:doc"
@

tasks =[{}]
    
    build =[{}]
        
        src =[]

            # if run on browser, the excanvas lib can be used 
            # to provide canvas support for browsers that lack support for canvas element :P
            #./src/externals/excanvas.js
            
            !tpl:umd-header.tpl.js  # include a umd-header template
            
            ./src/haar-detector.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/haar-detector.js

        # do any replacements in the source (orderedmap)
        replace =[{}]

            "@@ROOT@@" = "'undefined' !== typeof self ? self : this"
            "@@MODULE@@" = "HAAR"
            "@@VERSION@@" = "1.0.2"
            
        @

        # extract documentation from the source (map)
        doc ={}
            "startdoc" = "/**[DOC_MARKDOWN]"
            "enddoc" = "[/DOC_MARKDOWN]**/"
            "trim" = "RegExp::\\s*\\*[ ]?"
            "output" = "./api-reference.md"
        @

        out = ./build/haar-detector.js
    @

    minify =[{}]
        
        src =[]

            ./build/haar-detector.js
        @

        # extract header from this file
        header = ./build/haar-detector.js

        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
            
            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @
            
            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        
        @

        out = ./build/haar-detector.min.js
    @
@
